
<p>Has recibido un email de contacto de 'isthestig.com' con los datos:</p>
<ul>
	<li>Nombre: {{ data.name }}</li>
	<li>Email: {{ data.email }}</li>
	<li>Comentarios: {{ data.comments }}</li>
</ul>